.VPDoc h1 {
    color: transparent;
    background: -webkit-linear-gradient(10deg, rgb(189, 52, 254) 5%, rgb(228, 52, 152) 15%) text;
}
.name .clip{
    color: transparent;
    background: -webkit-linear-gradient(10deg, rgb(189, 52, 254) 5%, rgb(228, 52, 152) 15%) text;
}